.div-tagbar {
  margin-bottom: 15px;
  padding: 10px;
  max-width: 100%;
}

.tagbutton {
  color: black;
  text-decoration: none;
  border: solid whitesmoke 1px;
  padding: 5px;
  margin-right: 15px;
  margin-left: -10px;
  outline: none;
  text-transform: uppercase;
}

.tagbutton:hover {
  color: gray;
}

.list-item {
  text-decoration: none;
  color: black;
  margin-bottom: 5px;
  font-weight: lighter;
}

.list-item:hover {
  color: gray;
}

.post-info {
  display: block;
}

.post-tags {
  font-style: italic;
}
